
.icon-user:before { content: '\e800'; } /* '' */
.icon-mail:before { content: '\e801'; } /* '' */
.icon-html5:before { content: '\e802'; } /* '' */
.icon-user-1:before { content: '\e803'; } /* '' */
.icon-keyboard:before { content: '\e804'; } /* '' */
.icon-feather:before { content: '\e805'; } /* '' */
.icon-vcard:before { content: '\e806'; } /* '' */
.icon-search:before { content: '\e807'; } /* '' */
.icon-book-open:before { content: '\e808'; } /* '' */
.icon-facebook-circled:before { content: '\f051'; } /* '' */
.icon-twitter:before { content: '\f058'; } /* '' */
.icon-gplus-circled:before { content: '\f059'; } /* '' */
.icon-facebook:before { content: '\f09a'; } /* '' */
.icon-gplus:before { content: '\f0d5'; } /* '' */
.icon-youtube-squared:before { content: '\f166'; } /* '' */
.icon-youtube:before { content: '\f167'; } /* '' */
.icon-tumblr-squared:before { content: '\f174'; } /* '' */
.icon-facebook-official:before { content: '\f230'; } /* '' */